:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

  } 
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    color: #336699;
    font-family: cursive;
    font-size: 20px;
  }
  a.tool:hover{
    border-color: red;
  }

  .band{
    color: #dd6d2c;
    font-size: 35px;
    font-weight: bolder;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
  }
  .blue{
    color: #dd6d2c;
  }

  .banner-form {
    display: inline-block;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 5px 10px -5px rgba(51,102,153,0.3);
  }
  
  .banner-input {
    padding: 5px 10px;
    border-radius: 0;
    height: 45px;
    width: calc(100% - 160px);
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
    border: 2px solid #336699;
    background-color: transparent;
    transition: all 0.3s;
  }
  
  .banner-input:focus {
    background-color: #FFFFFF;
  }
  
  .banner-submit {
    padding: 5px 10px;
    border-radius: 0;
    height: 45px;
    max-width: 160px;
    background-color: #336699;
    color: #FFFFFF;
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    border: 2px solid #336699;
    transition: all 0.3s;
    box-shadow: 0px 10px 15px -13px rgba(51,102,153,1);
  }
  
  .banner-submit:hover {
    background-color: #264D73;
    border-color: #264D73;
  }
  
  @media (min-width: 576px) {
    .banner-form {
      width: auto;
    }
  
    .banner-input {
      width: 250px;
    }
  
    .banner-submit {
      padding: 5px 15px;
      max-width: 170px;
    }
  }
  
  .steps-item {
    flex: 0 0 280px;
    max-width: 280px;
    background-color: #F9F9F9;
    margin: 15px;
    padding: 20px 20px 30px;
    border-radius: 20px 90px 20px 20px;
    box-shadow: 0px 15px 10px -10px rgba(51,102,153,0.1);
  }
  
  .steps-image {
    height: 150px;
    background-color: #FFFFFF;
    border-radius: 148px 75px 75px 2px;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    border: 1px solid rgba(0,0,0,0.04);
  }
  
  .steps-number {
    position: absolute;
    left: 16px;
    bottom: 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #FFFFFF;
    background-color: #f0f5fa;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
  }
  
  .steps-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 110px;
    height: 110px;
    background-color: #f0f5fa;
    background-image: linear-gradient(to bottom right, #ecf2f9, #e6fffd);
    padding: 20px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.04);
  }
  
  .steps-icon img {
    width: 100%;
    background: transparent;
  }
  
  .feature-card {
    box-shadow: 0px 15px 10px -10px rgba(51,102,153,0.11);
  }
  
  .feature-image {
    background-color: #F9F9F9;
    background-image: linear-gradient(to bottom right, #FFEFE6, #F9F9F9);
    width: 150px;
    height: 150px;
    flex: 0 0 150px;
    width: 150px;
    max-width: 150px;
    padding: 35px;
    justify-self: center;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.03);
  }
  
  .feature-icon {
    width: 100%;
  }
  
  .faq__item {
    border-radius: 0.8rem;
    border: 1px solid rgba(0,0,0,0.03);
    background-color: #E6FFFD;
  }
  
  .faq__button {
    position: relative;
    width: 100%;
    border: none;
    text-align: left;
    border-radius: 0.8rem;
    padding: 10px 40px 10px 10px;
    font-size: 1.2rem;
    outline-offset: -3px;
    outline-color: #336699;
    background-color: #00E0D1;
    transition: all 0.3s ease-out;
  }
  
  .faq__button:hover {
    background-color: #00CCBE;
  }
  
  @media (min-width: 576px) {
    .faq__button {
      font-size: 1.5rem;
      padding: 10px 40px 10px 20px;
    }
  }
  
  .faq__icon {
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -8px;
    width: 16px;
    height: 16px;
    transition: all 0.3s ease-out;
  }
  
  .faq__item--active .faq__icon {
    transform: rotate(180deg);
  }
  
  .faq__answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.15s ease-out;
  }
  
  .faq__item--active .faq__answer {
    max-height: 500px;
    transition: max-height 0.3s ease-out;
  }
  
  .faq__text {
    padding: 10px 20px 15px;
  }
  
  @media (max-width: 480px) {
    .img-fluid{
      max-height: 350px;
    }
  }
  
  svg#clouds {
    position: fixed;
    bottom: -20px;
    right: -1780px;
    z-index: -10;
    width: 2500px;
  }