a.tool:hover {
  border-color: red;
}
.band {
  color: #dd6d2c;
  font-size: 35px;
  font-weight: bolder;
  font-style: italic;
}

.blue {
  color: #dd6d2c;
}

@media (max-width: 480px) {
  .img-fluid {
    max-height: 350px;
  }
}

svg#clouds {
  position: fixed;
  bottom: -20px;
  right: -1780px;
  z-index: -10;
  width: 2500px;
}
